[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
black = ">=20.8b1"
codespell = "*"
pydocstyle = "*"
mlxtend = "*"
jupyter = "*"
jupyterlab = "*"
tensorflow = "*"
nilearn = "*"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
mne = ">=0.22"
mne-bids = ">=0.6"
pybv = ">=0.3"
pybids = "*"
joblib = ">=0.15"
matplotlib = "*"
seaborn = "*"
natsort = "*"
openpyxl = "*"
pipfile-requirements = "*"
pingouin = "*"
dabest = "*"
nb_black = "*"
tqdm = "*"
control = "*"
ptitprince = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
